@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital@1&family=Quicksand:wght@300&family=Roboto&display=swap');


body {
    margin: 0;
    background-color: #92ada0;
}

h1 {
    font-family: Lora;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 25px;

}

table {
    position: absolute;
    top: 45px;
    left: 259px;
    background-color: white;
    width: 850px;
    text-align: center;
}


table, th, td {
    position: relative;
    border: 2px solid black;
    border-collapse: collapse;

}


th, td {
    padding: 20px;

}

th {
    font-family: Quicksand;
    font-size: 30px;
    font-style: bold;
}

#button-view {
    padding: 3px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 1000;

    text-align: center;
}

#button-edit {
    background-color: #638CB8;
    position: absolute;
    left: 600px;
    top: 18px;
    padding: 5px 12px;

}

#button-delete {
    padding: 5px;
    background-color: #db3939;
    position: absolute;
    left: 700px;
    top: 18px;
}

#button-edit, #button-delete {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;

    border-radius: 8px;
}


#button-edit:hover, #button-view:hover, #button-delete:hover {
    color: white;
    background-color: black;
    border-radius: 5px;

    text-decoration: none
}

#button1, #button2 {
    text-decoration: none;
    border: 1px solid black;
    background: white;
    color: black;


}

#button1 {

    font-family: Roboto;
    font-style: bold;
    font-size: 15px;
    font-weight: 500;

    border: 2px solid black;
    border-radius: 10px;

    padding: 12px 12px;

    position: relative;
    top: 450px;
    left: 270px;
}

#button2 {
    font-family: Roboto;

    font-size: 15px;
    font-weight: 500;

    border: 2px solid black;
    border-radius: 10px;

    height: 18px;
    padding: 12px 18px;

    position: relative;
    top: 450px;
    left: 280px;
}

#button1:hover, #button2:hover{
    cursor: pointer;
    border: 1px solid white;
    background: black;
    color: white;

}