<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
</head>
<body>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/edit.css' %}">

    <div class="top">
        <h1>Edit</h1>
    </div>

  <form action="" method="POST">
        <div class="form">
            {% csrf_token %}
            <label class="label" >Name</label>
            {{form.name}}

            <label class="label">Age</label>
            {{form.age}} <!-- Eles tem a classe de form-box -->

            <label class="label">Birth Date</label>
            {{form.birth_date}}

            <label class="label">Email</label>
            {{form.email}}

            <label class="label">Nickname</label>
            {{form.nickname}}

            <label class="label">Note</label>
            {{form.note}}
        </div>

            <button id="button1" data-href-template="{% url 'list' %}">Edit</button>
            <a id="button2" href="{% url 'list' %}" role="button">Cancel</a>

        </form>

</body>
</html>